---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "String Functions"
description: |-
{{ .Summary | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

The string function `empty` returns `true` if the given string is empty. Otherwise, it returns `false`.

A string is considered empty if it is initialized as an empty string and is not null; strings that contain only whitespace characters are not considered empty.

{{ if .HasExample -}}
## Terraform Test Example

{{tffile .ExampleFile }}
{{- end }}

## Signature

{{ .FunctionSignatureMarkdown }}

## Arguments

{{ .FunctionArgumentsMarkdown }}
{{ if .HasVariadic -}}
{{ .FunctionVariadicArgumentMarkdown }}
{{- end }}

## Return Type

The return type of `{{.Name}}` is a boolean.
